/* body */

#index {
	margin: 0;
	padding: 0;
    display: grid;
	height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background: black;
}

#wish {
    background: linear-gradient(-45deg, #0000d5, #280078, #3a005e, #9000ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* the rest of the code */

h1 {
    color: white;
    text-align: center;
}

canvas {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	pointer-events: none;
}

#wishdiv {
    justify-items: center;
    align-items:center;
    justify-self: center;
}

#wishbutton {
    background: blue;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    transition: background ease-in 0.10s;
    border-radius: 20px;
}

#wishbutton:hover {
    background: #008adf;
}

#commitbutton {
    background: blue;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    transition: background ease-in 0.10s;
    border-radius: 20px;
}

#commitbutton:hover {
    background: #008adf;
}

#commitfill {
    width: 300px;
    height: 90px;
}

#commitment-text {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}